@import "/src/assets/scss/variables/fonts";
@import "/src/assets/scss/variables/colors";
.container {
  height: 100vh;
  background-image: linear-gradient(145deg, $primary-yellow, $primary-gray);
}
.search-area {
  font-family: $secondary-font;
  margin: 20px;
  .search-label {
    color: whitesmoke;
  }
}
.add-btn {
  margin: 10px auto;
  box-shadow: 0 0 9px $shadow-gray;
  font-family: $secondary-font;
  background-color: $primary-green;
  color: whitesmoke;
}

.table-cell {
  font-family: $main-font;
  font-size: small;
  overflow: hidden;
}
.paginator {
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .table-cell {
    font-size: medium;
  }
}
