<div fxFlex fxLayout="row" class="header">
  <div class="navbar" fxFlex fxLayoutAlign="start center" fxLayout="row">
    <ul
      class="top-nav"
      fxFlex="60"
      fxFlex.sm="80"
      fxFlex.md="85"
      fxLayoutAlign="space-around start"
      fxLayout="row"
    >
      <li
        class="top-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a mat-button class="top-link" routerLink="/items">Tárgyak</a>
      </li>
      <li
        class="top-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a mat-button class="top-link" routerLink="/storages">Raktárak</a>
      </li>
    </ul>
    <h2 *ngIf="currentUser" class="user">{{ currentUser.name }}</h2>
    <mat-icon class="person-icon" [matMenuTriggerFor]="logout">person</mat-icon>
    <mat-menu #logout="matMenu">
      <button mat-menu-item (click)="logOut()">Kijelentkezés</button>
    </mat-menu>
  </div>
</div>
