@import "/src/assets/scss/variables/fonts";
@import "/src/assets/scss/variables/colors";
html {
  margin: 0;
}

.header {
  height: 100%;

  .navbar {
    height: 40px;
    background-color: $nav-gray;
    color: whitesmoke;
    .top-nav {
      .active {
        color: $primary-yellow;
      }
      .top-item {
        list-style: none;
        .top-link {
          text-decoration: none;
        }
      }
    }
    .user {
      font-family: $nav-font;
      position: absolute;
      right: 70px;
      margin: 0 0 0 5px;
    }
    .person-icon {
      position: absolute;
      right: 15px;
    }
    .person-icon:hover {
      cursor: pointer;
      color: $primary-yellow;
    }
    .sidenav-btn {
      height: 40px;
    }
  }
  .active {
    color: $primary-yellow;
  }
}
