@import "/src/assets/scss/variables/colors";
.login-container {
  background-image: linear-gradient(45deg, black, $primary-yellow);
  width: 100vw;
  height: 100vh !important;
  align-items: center;
  justify-content: center;

  .login {
    position: relative;
    width: 400px;
    height: 250px;
    align-items: center;

    .login-title {
      position: absolute;
      top: -150px;
      left: 100px;
      font-size: 200px;
    }
    .input-group {
      width: 370px;
      margin: 8px auto;
      z-index: 1;

      .input-label {
        color: whitesmoke;
      }
      .input-control {
        margin: 0 0;
        background-color: transparent;
        border: transparent;

        height: 40px;
        outline: transparent;
        transition: border 300ms;
      }
    }
    .login-btn {
      margin: 10px auto;
      width: 370px;
      z-index: 1;
      .login-label {
        z-index: -1;
        position: relative;
      }
    }
  }
  .error {
    text-align: center;
    width: 100%;
    font-style: italic;
    font-size: 0.8em;
    color: $primary-red;
    overflow: hidden;
  }
  .error-message {
    width: 100%;
    font-style: italic;
    font-size: 0.8em;
    color: $primary-red;
    overflow: hidden;
    position: absolute;
    top: 35px;
    animation: error 1s 1;
  }

  @keyframes error {
    0% {
      right: -300px;
    }
    25% {
      right: -15px;
    }
    50% {
      right: -50px;
    }
    100% {
      right: 0;
    }
  }
}
