<div fxLayout="column" class="login-container">
  <form
    fxLayout="column"
    class="login"
    [formGroup]="loginForm"
    (ngSubmit)="login()"
  >
    <mat-icon class="login-title">person</mat-icon>
    <div fxLayout="column" class="input-group">
      <mat-form-field>
        <mat-label class="input-label">Email:</mat-label>
        <input
          matInput
          class="input-control"
          id="email"
          type="email"
          formControlName="email"
        />
        <div *ngIf="loginForm.get('email').invalid && !loginForm.pristine">
          <div class="error-message">
            {{
              loginForm.get("email").hasError("required")
                ? "Email megadása kötelező"
                : "Email formátum nem megfelelő"
            }}
          </div>
        </div>
      </mat-form-field>
      <mat-form-field>
        <mat-label class="input-label">Jelszó:</mat-label>
        <input
          matInput
          class="input-control"
          id="password"
          type="password"
          formControlName="password"
        />
        <div *ngIf="loginForm.get('password').invalid && !loginForm.pristine">
          <div
            class="error-message"
            *ngIf="loginForm.get('password').hasError('required')"
          >
            Jelszó megadása kötelező
          </div>
        </div>
      </mat-form-field>

      <button
        [disabled]="loginForm.invalid"
        class="login-btn"
        mat-button
        type="submit"
      >
        <label class="login-label">Bejelentkezés</label>
      </button>
      <h2 class="error">{{ errorMessage }}</h2>
    </div>
  </form>
</div>
