<div fxFlex fxLayoutAlign="center center" fxLayout="column" class="container">
  <h2 mat-dialog-title>Szerkesztés</h2>

  <form
    class="form"
    fxFlex
    fxLayoutAlign="center center"
    fxLayout="column"
    [formGroup]="form"
  >
    <mat-form-field>
      <input matInput placeholder="Tárgy neve" formControlName="name" />
      <div *ngIf="form.get('name').invalid && !form.pristine">
        <div class="error-message">
          {{
            form.get("name").hasError("required")
              ? "Név megadása kötelező"
              : "Név túl hosszú"
          }}
        </div>
      </div>
    </mat-form-field>
    <mat-form-field>
      <mat-select matInput placeholder="Tárgy hossza" formControlName="length">
        <mat-option *ngFor="let num of selectOpt" [value]="num">{{
          num
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select
        matInput
        placeholder="Tárgy szélessége"
        formControlName="width"
      >
        <mat-option *ngFor="let num of selectOpt" [value]="num">{{
          num
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayout="row" class="btn-group">
      <button
        [disabled]="form.invalid"
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSave()"
      >
        Mentés
      </button>
      <button mat-raised-button (click)="close()">Mégse</button>
    </div>
  </form>
</div>
