<h2>
  Biztosan törölni akarod a(z)
  {{ !data.address ? data.name : data.address }} nevű elemet?
</h2>

<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="delete(data)">Igen</button>
  <button mat-raised-button (click)="close()">Nem</button>
</mat-dialog-actions>
